*.pyc
*~
*.swp
*.DS_Store
__pycache__
.ipynb_checkpoints
JupyterDocs/*/results/*
JupyterDocs/*/products/*
JupyterDocs/*/figures/*
JupyterDocs/*/productBoundingBox/*
JupyterDocs/*/*.kmz
JupyterDocs/*/DEM/
JupyterDocs/*/amplitude
JupyterDocs/*/azimuthAngle
JupyterDocs/*/coherence
JupyterDocs/*/connectedComponents
JupyterDocs/*/incidenceAngle
JupyterDocs/*/mask
JupyterDocs/*/unwrappedPhase
JupyterDocs/*/user_bbox.shp
figures
results
productBoundingBox
products
